@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    font-family: 'Nunito', sans-serif;
    background: #f4f4f4;
  }

.header {
    padding-left: 70px;
    margin-top: 60px;
    padding-right: 70px;
}

p {
    color: #B6B5B8;
}
